@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
.App{
  background:hsl(218, 23%, 16%);
}

.card{
  background: hsl(217, 19%, 24%);
}
.card-header{
  background: hsl(217, 19%, 38%);
  color: hsl(150, 100%, 66%);
}
.blockquote{
  font-size: 28px;
  font-family: 'Manrope', sans-serif;
  color: hsl(193, 38%, 86%);
}